body {
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    height: 100%;
    margin: 0;
    background-color: lightblue;
}

button {
    background-color: lightgray;
    margin: 0 1%;
    border-radius: 15%;
    color: white;
    border: white solid 1px;
}

.instructions {
    padding: 2.5%;
    text-align: center;
}

.container {
    display: grid;
    height: 600px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

@media (min-width: 1015px) {

    .container {
        padding: 2.5%;
    }

    .buttons {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #pictures {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 300px;
        float: left;
    }

    .inputForm {
        grid-column-start: 4;
        grid-column-end: 7;
        margin: 5% 5% 0 0;
    }

    #submitButton {
        font-size: .5rem;
        width: auto;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 5px;
        width: 40px;
        float: left;
    }

    #userInputArea {
        width: 85%;
        float: right;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
    }

    .inputLable {
        font-size: 2.5rem;
        width: 100%;
    }

}  

@media (max-width: 1014px) and (min-width: 768px) {
    
    .container {
        padding: 5%;
    }

    .buttons {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #pictures {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .inputForm {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: left;
    }

    #submitButton {
        font-size: .5rem;
        width: 100%;
        text-align: center;
        padding: 5px 10px;
        border-radius: 10px;
        margin-left: 2px;
    }

    #userInputArea {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
    }

    .inputLable {
        font-size: 1.25rem;
        width: 100%;
    }

}

@media (max-width : 767px) {

    .buttons {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    #pictures1,
    #pictures2,
    #pictures3 {
        grid-column-start: 3;
        grid-column-end: 5;
        /* grid-row-start: 3;
        grid-row-end: 4; */
    }

    .inputForm {
        grid-column-start: 1;
        grid-column-end: 7;
        margin: 2.5% 0;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: center;
    }

    #submitButton {
        font-size: .5rem;
        width: 85%;
        text-align: center;
        padding: 5px 10px;
        border-radius: 10px;
        margin-left: 2px;
    }

    #userInputArea {
        width: 85%;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
    }

    .inputLable {
        font-size: 2.5rem;
        width: 100%;
    }
}