body {
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

@media (min-width: 960px) {

    .buttons {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .pictures {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .inputForm {
        grid-column-start: 5;
        grid-column-end: 7;
    }

    #submitButton {
        font-size: .5rem;
        width: auto;
        text-align: center;
        padding: 3px 10px;
        float: left;
    }

    #userInputArea {
        width: 85%;
        float: right;
    }

    .inputLable {
        font-size: 2.5rem;
        width: 100%;
    }

}  

@media (max-width: 958px) and (min-width: 480px) {

    .buttons {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .pictures {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .inputForm {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: center;
    }

    #submitButton {
        font-size: .5rem;
        width: 100%;
        text-align: center;
        padding: 10px 10px;
        border-radius: 10px;
        margin-left: 2px;
    }

    #userInputArea {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
    }

    .inputLable {
        font-size: 2.5rem;
        width: 100%;
    }

}

@media (max-width : 480px) {

    .buttons {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .pictures {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .inputForm {
        grid-column-start: 1;
        grid-column-end: 7;
<<<<<<< HEAD
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: center;
=======
        grid-row-start: 3;
        grid-row-end: 4;
>>>>>>> 9ea91b2e067043057d2888f2d99944e8a915e1ea
    }

    #submitButton {
        font-size: .5rem;
        width: 85%;
        text-align: center;
        padding: 10px 10px;
        border-radius: 10px;
        margin-left: 2px;
    }

    #userInputArea {
        width: 85%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
    }

    .inputLable {
        font-size: 2.5rem;
        width: 100%;
    }
}